@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&family=Montserrat:ital,wght@0,300;0,400;0,500;0,700;0,800;0,900;1,600&family=Poppins:wght@200;300;400;600&display=swap');

:root {
    --bg-black-900: #f2f2fc;
    --bg-black-100: #fdf9ff;
    --bg-black-50: #e8dfec;
    --text-black-900: #302e4d;
    --text-black-700: #504e70;
}

.padd-15 {
    padding: 0 15px;
}

* {
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
}


body {
    background: var(--bg-black-900);
    min-height: 100vh;
    display: block;
    padding: 0 20px;
    opacity: 1;
}

.container__main {
    width: 100%;
    display: block;
}

.container {
    width: 100%;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
    position: relative;
}

.container .content #channel_name {
    font-size: 32px;
    text-transform: uppercase;
    text-align: center;
    padding: 30px;
    color: var(--text-black-900);
}

.container .content .main_box {
    width: 100%;
}

.main_box .right_box {
    max-width: 100%;
    flex: 0 0 100%;
    background: var(--bg-black-900);
}

.main_box .right_box h3 {
    font-size: 22px;
    color: var(--text-black-900);
    margin-bottom: 20px;
}

.main_box .right_box #date {
    font-size: 12px;
    color: var(--text-black-900);
}


.main_box .left_box {
    max-width: 100%;
    flex: 0 0 100%;
    /* overflow-y: scroll; */
    background: var(--bg-black-100);
    /* border: 1px solid rgba(0, 0, 0, 0.5); */
    padding: 10px 10px;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
}

.main_box .right_box .video {
    width: 100%;
    padding: 15px 30px;
}

.main_box .right_box .video #main_if {
    width: 100%;
    height: 500px;
    border-radius: 15px;

}


.main_box .right_box #description {
    font-size: 14px;
    /* text-align: justify; */
    width: 100%;
    /* margin: 10px; */
}



.container .content .main_box .left_box h4 {
    /* text-align: justify; */
    /* text-transform: uppercase; */
    font-size: 16px;
    color: var(--text-black-700);
    margin-bottom: 30px;
    padding: 0 10px;
    font-family: 'Courier New', Courier, monospace;
}

.main_box .left_box .img_data {
    padding: 15px;
    max-width: 33.33%;
    flex: 0 0 33.33%;
    height: 250px;
    cursor: pointer;

}

span {
    display: block;
}

.main_box .box_btn {
    width: 100%;
    display: flex;
    margin: 20px 0;
    justify-content: center;
    align-items: center;
}

.main_box .btn {
    width: 100px;
    padding: 10px 5px;
    /* margin: 15px; */
    border: none;

    font-size: 16px;
    /* padding: 15px; */
    /* border-radius: 50px; */
    text-transform: uppercase;
    color: var(--text-black-700);
}

.btn:first-child {
    background: #2196f3;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    color: var(--text-black-900);
}

.btn:last-child {
    background: #2196f3;
    color: var(--text-black-900);
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}

.add.active {
    background: #d32f2f;
    color: white;
}

.btn:hover {
    transform: scale(1.1, 1.1);
}

.des_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 0 0 100%;
    max-width: 100%;
}

.des_content .des_items {
    width: 100%;
    padding: 10px 0px;
    margin: 15px 0;
    /* background-color: var(--bg-black-100); */
    /* border: 1px solid var(--bg-black-50); */
    /* border-radius: 10px; */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.des_content .des_items .question {
    display: flex;
    justify-content: space-between;
}

.des_content .des_items .question i {
    font-size: 32px;
}

.des_content .des_items .question h3 {
    width: 100%;
    font-size: 18px;
    /* margin-bottom: 15px; */
    color: var(--text-black-900);
    text-transform: capitalize;
    text-align: center;
}

.des_content .des_items .answer {
    max-height: 0;
    overflow: hidden;
    transition: all 0.3s linear;

}

.des_content .des_items .answer p {
    font-size: 16px;
    color: var(--text-black-700);
    line-height: 25px;
}

.des_content .des_items.active .answer {
    max-height: 100%;
    margin-top: 10px;
}

.des_content .des_items.active .question i {
    transform: rotate(180deg);
}



/* media query */

@media screen and (max-width:1147px) {}

@media screen and (max-width:747px) {

    .container .content #channel_name {
        font-size: 22px;
    }

    .main_box .right_box {
        padding: 0;
        margin: 0;
    }

    .main_box .right_box .video {
        height: 300px;
        width: 100%;
        padding: 0;
    }

    .main_box .right_box .video #main_if {
        height: 300px;
        width: 100%;
        padding: 0;
        border-radius: 5px;
    }


    .main_box .right_box,
    .main_box .left_box {
        max-width: 100%;
        flex: 0 0 100%;
        /* display: block; */
    }



    .main_box .right_box #description {
        font-size: 12px;
        /* text-align: justify; */
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }


    .main_box .left_box .img_data {
        max-width: 100%;
        flex: 0 0 100%;
    }

    .main_box .btn {
        font-size: 12px;
        justify-content: space-between;
        width: 50%;
    }

}